body {
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-image: url('/public/images/Fond_carreaux.jpeg'); 
  background-color: rgba(255,255,255, 0.7);
  background-blend-mode: overlay;
  
}

.logo {
  width: 10rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
